h1{
    text-align: center;
    color: rgb(255, 94, 0);
}
.chat-area{
    height: 80vh;
    background-color: rgb(184, 206, 219);
    padding: 10px 10px 10px 10px
}
.textbox{
    margin: 20px 20px 30px 55px;
}
.right{
    background-color: rgb(34, 204, 105);
    width: 30%;
    margin: 0 0 0 auto;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 0px 10px 20px;

}
.right1{
    width: 30%;
    margin: 0 0 0 auto;
    border-radius: 20px 20px 20px 20px;
    text-align: left;
}
.left{
    background-color: rgb(204, 74, 154);
    width: 30%;
    margin: auto 0 10px 0 ;
    border-radius: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;


}
.left1{
    width: 30%;
    margin: auto 0 0 0 ;
    border-radius: 20px 20px 20px 20px;
    text-align: left;
}
p{
    margin:0 0 0 0;
}
#send{
    /* background-color: rgb(149, 146, 182); */
    padding: 10px 20px 10px 20px;

}
